<div>
  <p>Wu-Lu, Lex Amor, Ego Ella May – ‘Legend’</p>

  <iframe
    src="https://player.vimeo.com/video/322588360"
    width="400"
    height="400"
    frameborder="0"
  ></iframe>
</div>

<div>
  <p>LayFullstop, Moroka, AJ Kwame – ‘Broadcast By Chocolate’</p>

  <iframe
    src="https://player.vimeo.com/video/322591093"
    width="400"
    height="400"
    frameborder="0"
  ></iframe>
</div>

<div>
  <p>Lord Tusk ft. Roxanne Tataei – ‘Know Ways’</p>

  <iframe
    src="https://player.vimeo.com/video/322591841"
    width="400"
    height="400"
    frameborder="0"
  ></iframe>
</div>

<div>
  <p>Kojey Radical, Shabaka Hutchings – ‘No Gangster’ (Produced by Kz)</p>

  <iframe
    src="https://player.vimeo.com/video/322592565"
    width="400"
    height="400"
    frameborder="0"
  ></iframe>
</div>

<div>
  <p>Mala, Joe Armon-Jones, Nubya Garcia – ‘Scratch & Erase’</p>

  <iframe
    src="https://player.vimeo.com/video/322592792"
    width="400"
    height="400"
    frameborder="0"
  ></iframe>
</div>

<div>
  <p>=CoN+KwAkE= – ‘Same Ol Samo’</p>

  <iframe
    src="https://player.vimeo.com/video/322611714"
    width="400"
    height="400"
    frameborder="0"
  ></iframe>
</div>
